{% extends "base.html" %}
{% load static %}
{% block main_content %}

<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Дети будущего</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    О нас
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->
<!-- ==========About Section Starts Here========== -->
<section class="about-section pos-rel padding-bottom padding-top oh">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="{% static 'css/img/bottom-shape.png' %}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">Программы для каждого возраста</span>
                    <h3 class="title">Обучение дошкольников</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none -mx-10">
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static 'images/feature/01.png' %}" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">Младшая группа</h5>
                        <span class="cate">(1,5 - 3 года)</span>
                        <p>Развивающие занятия, музыкалочка, английский язык (с 2,5 лет)
                            <br><br><br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static 'images/feature/02.png' %}" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">Средняя группа</h5>
                        <span class="cate">(3 - 4 года)</span>
                        <p>Развивающие занятия, английский язык, изостудия, музыкалочка
                            <br><br><br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static 'images/feature/03.png' %}" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">Старшая группа</h5>
                        <span class="cate">(4 – 6 лет)</span>
                        <p>Подготовка к школе, английский язык, 
                            украинский язык, изостудия, исследователь, 
                            программирование, креативное 
                            мышление, мои эмоции. Есть онлайн занятия</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static 'images/feature/04.png' %}" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">Первоклашки</h5>
                        <span class="cate">(6 – 7 лет)</span>
                        <p>Программирование, английский язык, 
                            логика, изостудия, исследователь. 
                            Есть онлайн занятия<br><br><br><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-top about-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="rtl d-none d-lg-block pr-4">
                        <img src="{% static 'images/about/about03.png' %}" alt="about">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header left-style mb-olpo">
                            <span class="cate">Наша цель</span>
                            <h3 class="title">Развитие высоких способностей у детей</h3>
                            <p>Именно поэтому уже 11 лет детский центр "Дети будущего" 
                                является партнером Института одаренного ребенка НАПН Украины. 
                                С момента создания центра мы увлечены поиском эффективных методов 
                                и приемов обучения, разработкой новых игр и пособий, созданием новых 
                                обучающих программ. Мы с радостью презентуем наш опыт работы на 
                                всеукраинских и международных конференциях, а также участвуем в 
                                образовательных проектах.</p>
                            <br>
                            <p>Подробнее об этапах нашего сотрудничества с Институтом одаренного ребенка читайте ниже.</p>
                        </div>
                        <div class="faq-wrapper mb--10">
                            {% for dropdown in  drop_down%}
                            <div class="faq-item {% if dropdown.opened %}active open{% endif %} ">
                                <div class="faq-title">
                                    <span class="right-icon"></span>
                                    <h5 class="title">{{ dropdown.title }}</h5>
                                </div>
                                <div class="faq-content">
                                    <p>{{ dropdown.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About Section Ends Here========== -->


<!-- ==========Counter Section Starts Here========== -->
<div class="counter-section padding-top padding-bottom bg_img" data-background="{% static 'images/counter/counter-bg.jpg' %}">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            {% for counter in counters %}
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item round-style">
                    <div class="counter-thumb">
                        {% if counter.image %}
                            <img src="{{ counter.image.url }}" alt="counter">
                        {% endif %}
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title odometer" data-odometer-final="{{ counter.amount }}">0</h2>
                            {% if counter.symbol %}
                                <h2 class="title">{{ counter.symbol }}</h2>
                            {% endif %}
                        </div>
                        <span class="cate">{{ counter.description }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ==========Counter Section Ends Here========== -->

{% comment %}
<!-- ==========Teacher Section Starts Here========== -->
<section class="teacher-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">Meet Our Staffs</span>
                    <h3 class="title">Our Best Popular Teachers</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            {% for teacher in teachers %}
            <div class="col-lg-3 col-sm-6">
                <div class="teacher-item-2">
                    <div class="teacher-thumb">
                        <div class="thumb">
                            <a href="{% url 'users_section:teacher_detail' teacher.slug %}"><img src="{{ teacher.image.url }}"
                                alt="teacher"></a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="{% url 'users_section:teacher_detail' teacher.slug %}">{{ teacher.fio }}</a></h6>
                            <span>{{ teacher.specialization }}</span>
                        </div>
                    </div>
                    <div class="teacher-content">
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ==========Teacher Section Ends Here========== -->
{% endcomment %}

<!-- ==========Blog Section Starts Here========== -->
<section class="blog-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <a href='{% url "blog_section:post_list" %}'><span class="cate">Познавательные и интересные</span></a>
                    <h3 class="title"><a href='{% url "blog_section:post_list" %}'>Статьи об обучении детей</a></h3>
                </div>
            </div>
        </div>
        <div class="row mb-30-none justify-content-center">
            {% for post in posts %}
            <div class="col-xl-4 col-md-6">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="{% url 'blog_section:post_detail' post.slug %}"><img src="{{ post.preview.url }}" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top">
                            <h5 class="title"><a href="{% url 'blog_section:post_detail' post.slug %}">{{ post.title }}</a>
                            </h5>
                            <div class="post-meta cate">
                                <a href="#"><i class="far fa-calendar"></i> {{ post.created_at|date }} </a>
                                <a href="#"><i class="fas fa-user"></i> {{ post.author.fio }} </a>
                            </div>
                            <p>{{ post.preview_text }}</p>
                        </div>
                        <div class="post-bottom">
                            <a href="{% url 'blog_section:post_detail' post.slug %}" class="read">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ==========Blog Section Ends Here========== -->
{% endblock main_content %}