{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Корзина</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    Корзина
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Shop Section Starts Here========== -->
<div class="shop-cart padding-top padding-bottom">
    <div class="container">
        <div class="cart-top mb-widget">
            <table>
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Убрать</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                      
                    <tr>
                        <td class="product-item-2">
                            <div class="p-thumb">
                                <a href="#"><img src="{{ product.preview.url }}" alt="product"></a>
                            </div>
                            <div class="p-content">
                                <a href="#">{{ product.title }}</a>
                            </div>
                        </td>
                        {% if product.discount_price %}
                        <td>₴{{ product.discount_price }}</td>
                        {% else %}
                        <td>₴{{ product.price }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ product.get_remove_from_cart_url }}"><img src="{% static 'images/cart/del.png' %}" alt="product"></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="cart-checkout-box mb-widget">
            <div class="coupon-area">
                <form class="coupon">
                    <input type="text" name="coupon" placeholder="Код..." class="cart-page-input-text">
                    <input type="submit" value="Применить купон">
                </form>
            </div>
        </div>
        <div class="shiping-box mb-widget">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="cart-overview">
                        <h5 class="title">Итого</h5>
                        <ul>
                            <li>
                                <span class="pull-left">Сумма заказа</span>
                                <p class="pull-right">₴ {{ order.get_total }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Shop Section Ends Here========== -->

{% endblock main_content %}