{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title"></h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Home</a>
                </li>
                <li>
                    <a href='{% url "lessons_section:lessons_list" %}'>Classes</a>
                </li>
                <li>
                    Class Schedule
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Schedule Section Starts Here========== -->
<div class="schedule-section padding-top padding-bottom">
    <div class="container">
        <div class="row mb--20--50 justify-content-center">
            {% for day in schedule %}
              
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{{ day.background.url }}">
                    <ul>
                        {% for program in day.programs.all %}
                        <li>
                            <h6 class="title {{ program.class_name }}">{{ program.name }}</h6>
                            <span class="time">{{ program.hours }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ==========Schedule Section Ends Here========== -->


{% endblock main_content %}