{% extends "base.html" %}
{% load static %}
{% block main_content %}

    <!-- ==========Coming Soon Section Starts Here========== -->
    <section class="coming-soon-section min-height-section bg_img" data-background="{%  static 'images/error/error-bg.jpg' %}">
        <div class="container">
            <div class="coming-wrapper">
{#                <div class="inner-logo">#}
{#                    <a href="{% url "lessons_section:index" %}"><img src="{%  static 'images/error/logo.png' %}" alt="error"></a>#}
{#                </div>#}
                <ul class="coming-countdown">
                    <li>
                        <h4 class="count-title"><span class="days">00</span></h4>
                        <p class="days_text">Дней</p>
                    </li>
                    <li>
                        <h4 class="count-title"><span class="hours">00</span></h4>
                        <p class="hours_text">Часов</p>
                    </li>
                    <li>
                        <h4 class="count-title"><span class="minutes">00</span></h4>
                        <p class="minu_text">Минут</p>
                    </li>
                    <li>
                        <h4 class="count-title"><span class="seconds">00</span></h4>
                        <p class="seco_text">Секунд</p>
                    </li>
                </ul>
                <h1 class="coming-soon-title">Скоро стартуем</h1>
            </div>
        </div>
    </section>
    <!-- ==========Coming Soon Section Ends Here========== -->


{% endblock main_content %}
{% block custom_scripts %}
<script src="{%static 'js/countdown.min.js' %}"></script>
<script>
        jQuery(document).ready(function($) {
            $('.coming-countdown').countdown({
                date: '07/15/2021 00:00:00',
                offset: +2,
                day: 'Day',
                days: 'Days'
            },
            function () {

            });
        });
    </script>
{% endblock custom_scripts %}