{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Свяжитесь с нами</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    Наши контакты
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->

<section>
    
</section>
<!-- ==========Map Section Starts Here========== -->
<div class="map-section pos-rel">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vb70xg7vMZ6v3EWPbtPEXD8s8vC0gf4g" width="100%" height="600"></iframe>
    <div class="contact-area padding-bottom  pt-lg-0 pb-lg-0">
        <div class="container">
            <div class="contact-wrapper">
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static 'images/contact/01.png' %}" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">Занятия для детей</h6>
                        <ul>
                            <li>Групповые и индивидуальные,</li>
                            <li>в центре и онлайн.</li>
                            <li>Для детей от 1,5 до 7 лет</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static 'images/contact/02.png' %}" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">Адрес детского центра</h6>
                        <ul>
                            <li>Фонтанская дорога 49/1, Одесса, 65009, Украина</li>
                            <li><strong>КАК ДОЕХАТЬ:</strong></li>
                            <li>трамвай № 17, 18, 19;</li>
                            <li>маршрутки № 127, 146, 185. </li>
                            <li>Остановка: Петрашевского</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static 'images/contact/03.png' %}" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">Дни и часы работы</h6>
                        <ul>
                            <li>Пн-Пт (Сб, Вс выходной)</li>
                            <li>В летний период уточняйте время работы</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static 'images/contact/04.png' %}" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">Контакты</h6>
                        <ul>
                            <li><a href="Tel:+38 095 082-99-89">+38 095 082-99-89</a></li>
                            <li><a href="tel:+38 098 842-39-19">+38 098 842-39-19</a></li>
                            
                            <li>
                                <a href="viber://chat?number=%2B380988423919"><i class="fab fa-viber"></i> Viber</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Map Section Ends Here========== -->
{% endblock main_content %}