{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">{{ object.title }}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>{% trans "Главная" %}</a>
                </li>
                <li>
                    <a href='{% url "lessons_section:about" %}'>{% trans "О нас" %}</a>
                </li>
                <li>
                    <a href='{% url "lessons_section:events_list" %}'>{% trans "Мероприятия" %}</a>
                </li>
                <li>
                    {% if request.session.lang == 'ru' %}
                    {{ object.title }}
                    {% else %}
                    {{ object.title_ukr }}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Events Single Section Starts Here========== -->
<section itemscope  class="events-single-section padding-top padding-bottom">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-8 mb-50">
                <div class="class-single-item">
                    <div class="class-single-inner">
                        <div class="event-thumb">
                            <img src="{{ object.background_image.url }}" alt="events">
                            <div class="date-tag">
                                <h3 class="title">{{ object.date_start|date:"d" }}</h3>
                                <span class="mon">{{ object.date_start|date:"M Y" }}</span>
                            </div>
                        </div>
                        <div class="class-single-content">
                            <div class="countdown-area">
                                <h4 class="counts-title">{% trans "Начало мероприятия через:" %}</h4>
                                <ul class="countdown">
                                    <li>
                                        <h4 class="count-title"><span class="days">00</span></h4>
                                        <p class="days_text">{% trans "Дней" %}</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="hours">00</span></h4>
                                        <p class="hours_text">{% trans "Часов" %}</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="minutes">00</span></h4>
                                        <p class="minu_text">{% trans "Минут" %}</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="seconds">00</span></h4>
                                        <p class="seco_text">{% trans "Секунд" %}</p>
                                    </li>
                                </ul>
                            </div>
                            {% if request.session.lang == 'ru' %}
                            {{ object.full_text|safe }}
                            {% else %}
                            {{ object.full_text_ukr|safe }}
                            {% endif %}
        
                        </div>
                        <div class="tags-area">
                            <ul class="tags">
                                <!-- <li>
                                    <a href="#">{{ object.category.title }}</a>
                                </li> -->
                            </ul>
                            <!-- <ul class="share">
                                
                                <li>
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="dribble"><i class="fab fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-50">
                <aside>
                    <div class="widget widget-feature">
                        <div class="widget-header">
                            <h5 class="title">{% trans "Информация о мероприятии" %}</h5>
                        </div>
                        {% if request.session.lang == 'ru' %}
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="ques cl-i-two"><i class="fas fa-child"></i>{% trans "Возраст" %}</div>
                                    <div class="ans">{{ object.years_old }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-one"><i class="fas fa-calendar"></i>{% trans "Дата начала" %}</div>
                                    <div class="ans">{{ object.date_start|date}}</div>
                                </li>
                                {% if date_end %}
                                <li>
                                    <div class="ques cl-i-three"><i class="fas fa-calendar"></i>{% trans "Окончание" %}</div>
                                    <div class="ans">{{ object.date_end|date }}</div>
                                </li>
                                {% endif %}
                                <li>
                                    <div class="ques cl-i-one"><i class="fas fa-clock"></i>{% trans "Начало" %}</div>
                                    <div class="ans">{{ object.timer_time|time}}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-three"><i class="fas fa-clock"></i>{% trans "Окончание" %}</div>
                                    <div class="ans">{{ object.time }}</div>
                                </li>
                                <!-- <li>
                                    <div class="ques cl-i-four"><i class="fas fa-clock"></i>End Time</div>
                                    <div class="ans">{{ object.date_end|date }}</div>
                                </li> -->
                                <li>
                                    <div class="ques cl-i-five"><i class="fas fa-home"></i>{% trans "Место" %}</div>
                                    <div class="ans">{{ object.location }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-eight"><i class="fas fa-coins"></i>{% trans "Стоимость" %}</div>
                                    <div class="ans">₴{{ object.fee }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-one"><i class="fas 
                                        {% if object.online %}
                                        fa-desktop
                                        {% else %}
                                        fa-school
                                        {% endif %}
                                        "></i>{% trans "Формат" %}</div>
                                    <div class="ans">{% if object.online %}
                                        {% trans "Онлайн" %}
                                        {% else %}
                                        {% trans "Офлайн" %}
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <div class="ques cl-i-six"><i class="fas fa-user"></i>{% trans "Организатор" %}</div>
                                    {% if request.session.lang == 'uk' %}
                                    <div class="ans">{{ object.organizer.fio_ukr }}</div>
                                    {% else %}
                                    <div class="ans">{{ object.organizer.fio }}</div>
                                    {% endif %}
                
                                </li>

                            </ul>
                        </div>
                        {% else %}
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="ques cl-i-two"><i class="fas fa-child"></i>{% trans "Возраст" %}</div>
                                    <div class="ans">{{ object.years_old_ukr }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-one"><i class="fas fa-calendar"></i>{% trans "Дата начала" %}</div>
                                    <div class="ans">{{ object.date_start|date}}</div>
                                </li>
                                {% if date_end %}
                                <li>
                                    <div class="ques cl-i-three"><i class="fas fa-calendar"></i>{% trans "Окончание" %}</div>
                                    <div class="ans">{{ object.date_end|date }}</div>
                                </li>
                                {% endif %}
                                <li>
                                    <div class="ques cl-i-one"><i class="fas fa-clock"></i>{% trans "Начало" %}</div>
                                    <div class="ans">{{ object.timer_time|time}}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-three"><i class="fas fa-clock"></i>{% trans "Окончание" %}</div>
                                    <div class="ans">{{ object.time }}</div>
                                </li>
                                <!-- <li>
                                    <div class="ques cl-i-four"><i class="fas fa-clock"></i>End Time</div>
                                    <div class="ans">{{ object.date_end|date }}</div>
                                </li> -->
                                <li>
                                    <div class="ques cl-i-five"><i class="fas fa-home"></i>{% trans "Место" %}</div>
                                    <div class="ans">{{ object.location_ukr }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-eight"><i class="fas fa-coins"></i>{% trans "Стоимость" %}</div>
                                    <div class="ans">₴{{ object.fee }}</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-one"><i class="fas 
                                        {% if object.online %}
                                        fa-desktop
                                        {% else %}
                                        fa-school
                                        {% endif %}
                                        "></i>{% trans "Формат" %}</div>
                                    <div class="ans">{% if object.online %}
                                        {% trans "Онлайн" %}
                                        {% else %}
                                        {% trans "Офлайн" %}
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <div class="ques cl-i-six"><i class="fas fa-user"></i>{% trans "Организатор" %}</div>
                                    {% if request.session.lang == 'uk' %}
                                    <div class="ans">{{ object.organizer.fio_ukr }}</div>
                                    {% else %}
                                    <div class="ans">{{ object.organizer.fio }}</div>
                                    {% endif %}
                
                                </li>

                            </ul>
                        </div>
                        
                        {% endif %}
    
                        
                    </div>
                    <div class="widget widget-post">
                        <div class="widget-header">
                            <h5 class="title">{% trans "Статьи по теме" %}</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                {% for post in object.related_posts.all %}
                                <li>
                                    <div class="thumb">
                                        <a href="{% url 'blog_section:post_detail' post.slug %}">
                                            <img src="{{ post.preview.url }}" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="{% url 'blog_section:post_detail' post.slug %}">
                                            {% if request.session.lang == 'ru' %}
                                            {{ post.title }}
                                            {% else %}
                                            {{ post.title_ukr }}
                                            {% endif %}
                                        </a>
                                        <span>{{ post.created_at|date }}</span>
                                    </div>
                                </li>
                                {% endfor %}                              
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-gallery">
                        <div class="widget-header">
                            <h5 class="title">{% trans "Галерея" %}</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                {% for gallery in object.gallery.all %}
                                <li>
                                    <a href="{{ gallery.image.url }}" class="img-pop">
                                        <img src="{{ gallery.image.url }}" alt="gallery">
                                    </a>
                                </li>
                                {% endfor %}
    
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-tags">
                        <div class="widget-header">
                            <h5 class="title">{% trans "Тематические теги" %}</h5>
                        </div>
                        <div class="widget-body">
                            <ul class="tags">
                                {% for tag in object.tags.all %}
                                <li>
                                    <a href="{% url 'lessons_section:events_list_filtered' tag.slug %}">
                                        {% if request.session.lang == 'ru' %}
                                        {{ tag.title }}
                                        {% else %}
                                        {{ tag.title_ukr }}
                                        {% endif %}

                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- ==========Events Single Section Ends Here========== -->
{% endblock main_content %}
{% block custom_scripts %}
<script src="{%static 'js/countdown.min.js' %}"></script>
<script>
    $(document).ready(function ($) {
        $('.countdown').countdown({
            date: '{{ object.timer_time|date:"m/d/Y"}} {{ object.timer_time|time:"h:s:i"}}',
            offset: +2,
            day: 'Day',
            days: 'Days'
        },
            function () {
                
            });
    });
</script>
{% endblock custom_scripts %}