{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Frequiently Ask Question</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{% url "lessons_section:index" %}">Home</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    Faqs
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Faqs Section Starts Here========== -->
<section class="faqs-single-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">Don’t Miss The Day</span>
                    <h3 class="title">Frequiently Ask Question</h3>
                </div>
            </div>
        </div>
        <div class="row mb--10">
            <div class="col-lg-6">
                <div class="faq-wrapper">
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Can i Attend a Class for Free?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item active open">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Do I need to take the courses in a specific order?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Can i complete my admission process by online?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">What is your Admission Process?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-wrapper">
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Do I need to take the courses in a specific order?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Can i Attend a Class for Free</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">Can i complete my admission process by online?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">What is your Admission Process?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <span class="right-icon"></span>
                            <h5 class="title">How can i become a instructor?</h5>
                        </div>
                        <div class="faq-content">
                            <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage
                                existing standardized web-readiness before end to Distinctively conceptualize worldwide
                                schemas client-centered wasin end models readiness.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Faqs Section Ends Here========== -->
{% endblock main_content %}