{% load static %}
<footer class="bg_img" data-background="{% static 'images/footer/footer-bg.jpg' %}">
    <div class="footer-top">
        <div class="container">
            <div class="row mb--50">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget-about">
                        <h5 class="title">Детский центр "Дети будущего" </h5>
                        <p>Партнер института одаренного ребенка НАПН Украины. Занятия для детей от 1,5 д
                            о 7 лет - групповые и индивидуальные. Онлайн занятия для детей от 5 лет.</p>
                        <ul class="contact">
                            <li>
                                <i class="fas fa-phone-alt"></i><a href="tel: +38 (098) 842-39-19"> +38 (098) 842-39-19</a>
                            </li>
                            <li>
                                <i class="fas fa-phone-alt"></i><a href="tel: +38 (095) 082-99-89"> +38 (095) 082-99-89</a>
                            </li>
                            <li><i class="fas fa-home"></i>Фонтанская дорога 49/1, Одесса</li>
                            <li><i class="fas fa-globe-asia"></i><a href="detibudushego.club">detibudushego.club </a></li>
                        </ul>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/detibudushego"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/groups/ilearning.tools"><i class="fas fa-user-friends"></i></a>
                            </li>
                            <li>
                                <a href="https://t.me/detibudushego"><i class="fab fa-telegram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/detibudushego.odessa?r=nametag"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="viber://chat?number=%2B380988423919"><i class="fab fa-viber"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/detibudushego/featured"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget-blog">
                        <h5 class="title">Ближайшие мероприятия</h5>
                        <ul class="footer-blog">
                            {% for footer_event in footer_events %}
                              
                            <li>
                                <div class="thumb">
                                    <a href="{% url 'lessons_section:event_detail' footer_event.slug %}">
                                        <img src="{{ footer_event.preview.url }}" alt="footer">
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="{% url 'lessons_section:event_detail' footer_event.slug %}">{{footer_event.title}}</a>
                                    <span>{{ footer_event.date_start|date:"M d,Y" }}</span>
                                </div>
                            </li>

                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pl-xl-4">
                    <div class="footer-widget widgt-form">
                        <h5 class="title">Хотите вернуться к выбору занятий?</h5>
                        <!-- <p>Enter your email and get latest updates and offers subscribe us</p> -->
                        <form action="/classes" class="footer-form">
                                <button type="submit">
                                    <span class="shape"></span>
                                    <span>Выбрать занятие</span>
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>
                &copy; 2007 - 2021 All Rights Reserved. 
            </p>
        </div>
    </div>
</footer>
