{% extends "base.html" %}
{% load static %}
{% load cart_template_tags %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Наши фотографии</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    <a href='{% url "lessons_section:about" %}'>О нас</a>
                </li>
                <li>
                    Галерея
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Gallery Section Starts Here========== -->
<div itemscope  class="gallery-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="{% static 'css/img/bottom-shape.png' %}" alt="css">
    </div>
    <div class="container">
        <ul class="filter-2">
            <li data-filter="*" class="active"><span class="category">Show All</span><span class="amount">09</span></li>
            {% for category in request|gallery_categories %}
            <li data-filter=".{{category.slug}}"><span class="category">{{category.title}}</span><span class="amount">05</span></li>
            {% endfor %}
        </ul>
        <div class="masonary-wrapper lg-three-items">
            {% for obj in gallery %}
              
            <div class="masonary-item {% for cat in obj.category.all %}
                {{cat.slug}} 
            {% endfor %}">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="{{ obj.image.url }}"><img
                            src="{{ obj.image.url }}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">{{ obj.title }}</h5>
                            <span>{{ obj.description }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        </div>
        <div class="load-more">
            <a href='{% url "lessons_section:lessons_list" %}' class="custom-button"><span>Выбрать занятие</span></a>
        </div>
    </div>
</div>
<!-- ==========Gallery Section Ends Here========== -->
{% endblock main_content %}