{% load static %}
{% load mptt_tags %}
{% load cart_template_tags %}
<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-area">
                <ul class="left">
                    <li>
                        <a href="tel: +38 (098) 842-39-19"><i class="fas fa-phone-alt"></i> +38 (098) 842-39-19</a>
                    </li>
                    <li>
                        <a href="tel: +38 (095) 082-99-89"><i class="fas fa-phone-alt"></i> +38 (095) 082-99-89</a>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> Фонтанская дорога 49/1, Одесса 
                    </li>
                </ul>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/detibudushego"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/groups/ilearning.tools"><i class="fas fa-user-friends"></i></a>
                    </li>
                    <li>
                        <a href="https://t.me/detibudushego"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/detibudushego.odessa?r=nametag"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="viber://chat?number=%2B380988423919"><i class="fab fa-viber"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/detibudushego/featured"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href='{% url "lessons_section:index" %}'>
                        <img src="{% static 'images/logo/logo.png' %}" height="80" width="180" alt="logo">
                    </a>
                </div>
                <div class="menu-area">
                    <ul class="menu">
                        
                        {% recursetree menu %}
                            <li>
                                <a href='{{node.link}}'>{% if node.icon_class %}
                                    <i class="fas {{ node.icon_class }}"></i>
                                {% endif %}{{ node.name }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="submenu">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                        <!-- <li>
                            <a href='{% url "lessons_section:index" %}'><i class="fas fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href='{% url "lessons_section:about" %}'><i class="fas fa-user"></i>About</a>
                        </li>
                        <li>
                            <a href='{% url "lessons_section:lessons_list" %}'><i class="fas fa-book"></i>Classes</a>
                            <ul class="submenu">
                                <li>
                                    <a href='{% url "lessons_section:lessons_list" %}'>Classes</a>
                                </li>
                                <li>
                                    <a href='{% url "lessons_section:schedule" %}'>Class Schedule</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='{% url "blog_section:post_list" %}'><i class="fas fa-pencil-alt"></i>Blog</a>
                        </li>
                        <li>
                            <a href="#0"><i class="fas fa-layer-group"></i>Pages</a>
                            <ul class="submenu">
                                <li>
                                    <a href='{% url "users_section:teachers_list" %}'>Teachers</a>
                                </li>
                                <li>
                                    <a href="#0">Account</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="login.html">Sign In</a>
                                        </li>
                                        <li>
                                            <a href="registration.html">Sign Up</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='{% url "lessons_section:events_list" %}'>Events</a>
                                </li>
                                <li>
                                    <a href="#0">Shop</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="shop.html">Our Shop</a>
                                        </li>
                                        <li>
                                            <a href="shop-single.html">Shop Single</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='{% url "lessons_section:faq" %}'>Faqs</a>
                                </li>
                                <li>
                                    <a href='{% url "blog_section:gallery" %}'>Our Gallery</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='{% url "lessons_section:contact" %}'><i class="fas fa-map-marker-alt"></i>Contact</a>
                        </li> -->
                    </ul>
                    <!-- <div class="search-button">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>-->
                    <!-- <div class="cart-button">
                        <a href="#">
                            <span class="cart-amount">{{ request|cart_item_count }}</span>
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                    </div> -->
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="ellepsis-bar d-lg-none">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>