{% load i18n %}
{% load static %}
{% load cart_template_tags %}
<!-- ===========Header Cart=========== -->
<div class="cart-sidebar-area">
    <div class="top-content">
        <a href='{% url "lessons_section:index" %}' class="logo">
            <img src="{% static 'images/logo/logo_svg.svg' %}"  height="57" width="115" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">
        <div class="cart-products">
            <h4 class="title">{% trans "Корзина" %}</h4>
            {% for product in request|cart_products %}
            <div class="single-product-item">
                <div class="thumb">
                    <img src="{{ product.preview.url }}" alt="shop">
                </div>
                <div class="content">
                    <h4 class="title">{{ product.title_ukr }}</h4>
                    {% if product.discount_price %}
                    <div class="price"><span class="pprice">₴{{ product.discount_price }}</span> <del class="dprice">₴{{ product.price }}</del></div>
                    {% else %}
                    <div class="price"><span class="pprice">₴{{ product.price }}</span></div>
                    {% endif %}
                    
                    <a href="{{ product.get_remove_from_cart_url }}" class="remove-cart">{% trans "Убрать" %}</a>
                </div>
            </div>
            {% endfor %}
            <div class="btn-wrapper text-center">
                <a href="{% url 'shop_section:cart' %}" class="custom-button"><span>{% trans "Корзина" %}</span></a>
            </div>
        </div>
    </div>
</div>
<!-- ===========Header Cart=========== -->