{% extends "base.html" %}
{% load static %}
{% load cart_template_tags %}
{% block main_content %}
    <!-- ==========Banner Section Starts Here========== -->
    <section class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
        <div class="container">
            <div class="page-header-content">
                <h1 class="title">{{ user.fio }}</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href='{% url "lessons_section:index" %}'>Главная</a>
                    </li>
                    <li>
                        Профиль
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->


    <!-- ==========Shop Section Starts Here========== -->            
	<div class="shop-page padding-top padding-bottom">
		<div class="container">
			<div class="row mb--50">
				<div class="col-lg-8 col-xl-9 mb-50">
					<div class="shop-title d-flex flex-wrap justify-content-between">
						<p></p>
						<div class="product-view-mode">
							<a class="active" data-target="grid"><i class="fas fa-th"></i></a>
							<a data-target="list"><i class="fas fa-list"></i></a>
						</div>
					</div>
					<div class="shop-product-wrap grid row mb-30-none">
						{% for product in products %}
						<div class="col-xl-4 col-md-6">
							<div class="shop-item">
								<div class="product-thumb">
									<img src="{{ product.preview.url }}" alt="shop">
									<div class="product-action-link">
										<a class="view-modal" data-target="#{{ product.slug }}"><i class="far fa-eye"></i></a>
										<!-- <a href="#"><i class="far fa-heart"></i></a> -->
										<a href="{{ product.download_archive.url }}" download><i class="fas fa-download"></i></a>
										
									</div>
								</div>
								<div class="product-content">
									<h5 class="title"><a href="{% url 'shop_section:single_shop' product.slug %}">{{ product.title }}</a></h5>
								</div>
							</div>
							<div class="product-list-item">
								<div class="product-thumb">
									<img src="{{ product.preview.url }}" alt="shop">
									<div class="product-action-link">
										<a class="view-modal" data-target="#{{ product.slug }}"><i class="far fa-eye"></i></a>
									</div>
								</div>
								<div class="product-content">
									<h5 class="title"><a href="{% url 'shop_section:single_shop' product.slug %}">{{ product.title }}</a></h5>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% for product in products %}
			<div class="modal" id="{{ product.slug }}">
		        <div class="modal-dialog modal-lg modal-dialog-centered">
		            <div class="modal-content">
	                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
		                <div class="modal-body">
		                    <div class="product-details-inner">
		                        <div class="row">
		                  			<div class="col-lg-5 col-12">
		                  				<div class="popup-slide">
		                  					<div class="slider-for">
												{% for attachment in product.attachments.all %}
												<div class="thumb">
													<img src="{{ attachment.attachment.url }}" alt="shop">
												</div>
												{% endfor %}
		                  					</div>
	                  						<div class="slider-nav">
												{% for attachment in product.attachments.all %}
												<div class="thumb">
													<img src="{{ attachment.attachment.url }}" alt="shop">
												</div>
												{% endfor %}
		                  				</div>
		                  			</div>
		                            <div class="col-lg-7">
		                                <div class="product-content">
											<h5 class="title"><a href="{% url 'shop_section:single_shop' product.slug %}">{{ product.title }}</a></h5>									
											<p>
												{{ product.description }}
											</p>
											<div class="cart-button-2">
											</div>
										</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{% endfor %}
	</div>
    <!-- ==========Shop Section Ends Here========== -->

	{% endblock main_content %}