{% extends "base.html" %}
{% load static %}
{% load cart_template_tags %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
	<div class="container">
		<div class="page-header-content">
			<h1 class="title">{{ object.title }}</h1>
			<ul class="breadcrumb">
				<li>
					<a href='{% url "lessons_section:index" %}'>Главная</a>
				</li>
				<li>
					<a href='{% url "shop_section:shop" %}'>Магазин</a>
				</li>
				<li>
					{{ object.title }}
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Shop Section Starts Here========== -->
<div itemscope  class="shop-page padding-top padding-bottom">
	<div class="container">
		<div class="row mb--50">
			<div class="col-lg-8 col-xl-9 mb-50">
				<div class="product-details mb-30">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="product-single-thumb o">
								<div class="slider-for">
									{% for attachment in object.attachments.all %}
									<div class="thumb">
										<img src="{{ attachment.attachment.url }}" alt="shop">
									</div>
									{% endfor %}
								</div>
								<div class="slider-nav">
									{% for attachment in object.attachments.all %}
									<div class="thumb">
										<img src="{{ attachment.attachment.url }}" alt="shop">
									</div>
									{% endfor %}

								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="product-single-content">
								<h5 class="title">{{ object.title }}</h5>
								{% if object.discount_price %}
								<h5 class="amount">₴{{ object.discount_price }}</h5>
								{% else %}
								<h5 class="amount">₴{{ object.price }}</h5>
								{% endif %}
								<h5 class="subtitle">
									Описание
								</h5>
								<p class="info">
									{{ object.description }}
								</p>
								{% if product.check_bought %}
											<a href="{{ product.download_archive.url }}" class="custom-button" download><span>Скачать</span></a>
								{% else %}
									<a href='{{ object.get_add_to_cart_url }}' class="custom-button"><span>Добавить в корзину</span></a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="review">
					<div class="review-content description-show">
						<div class="description">
							<p>{{ object.full_text|safe }}</p>
							<!-- <div class="rev-item">
								<div class="rev-thumb">
									<img src="assets/images/shop/rev.jpg" alt="shop">
								</div>
								<div class="rev-content">
									<ul>
										<li>
											Donec non est at libero vulputate rutrum.
										</li>
										<li>
											Morbi ornare lectus quis justo gravida semper.
										</li>
										<li>
											Pellentesque aliquet, sem eget laoreet ultrices.
										</li>
										<li>
											Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
										</li>
										<li>
											Donec a neque libero.
										</li>
										<li>
											Pellentesque aliquet, sem eget laoreet ultrices.
										</li>
										<li>
											Morbi ornare lectus quis justo gravida semper..
										</li>
									</ul>
								</div>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xl-3 mb-50">
				<div class="single-sidebar">
					<div class="widget widget-category">
						<div class="widget-header">
							<h5 class="title">Категории</h5>
						</div>
						<div class="widget-body">
							<ul>
								{% for category in request|shop_categories %}
								<li>
									<a href="{% url 'shop_section:filtered_shop' category.slug %}"><span><i
												class="fas fa-angle-double-right"></i>{{ category.name }}</span></a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="widget widget-product">
						<div class="widget-header">
							<h5 class="title">Последние товары</h5>
						</div>
						<div class="widget-body">
							<ul>
								{% for latest_product in request|latest_products %}
								<li>
									<div class="product-thumb">
										<a href="#"><img src="{{ latest_product.preview.url }}" alt="shop"></a>
									</div>
									<div class="product-content">
										<h6><a
												href="{% url 'shop_section:single_shop' latest_product.slug %}">{{ latest_product.title }}</a>
										</h6>
										{% if latest_product.discount_price %}
										<h6 class="subtitle">₴{{ latest_product.discount_price }}</h6>
										{% else %}
										<h6 class="subtitle">₴{{ latest_product.price }}</h6>
										{% endif %}
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ==========Shop Section Ends Here========== -->
{% endblock main_content %}