{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Наш коллектив</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    Наш коллектив
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Teacher Section Starts Here========== -->
<section itemscope  class="teacher-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">Профессиональный и дружелюбный</span>
                    <h3 class="title">Наш коллектив</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            {% for teacher in teachers %}
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="{% url 'users_section:teacher_detail' teacher.slug %}">
                                    <img src="{{ teacher.image.url }}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="{% url 'users_section:teacher_detail' teacher.slug %}">{{ teacher.fio }}</a></h5>
                                <span>{{ teacher.specialization }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ==========Teacher Section Ends Here========== -->


<!-- ==========Call-In-Section Starts Here========== -->
<section class="call-in-action call-overlay bg_img padding-bottom padding-top"
    data-background="{% static 'images/bg/call-bg.jpg' %}">
    <div class="container">
        <div class="call-wrapper">
            <div class="section-header mb-olpo">
                <h3 class="title">Стать преподавателем</h3>
                <p>Если вы хотите присоедениться к дружелюбной команде профессионалов.</p>
            </div>
            <div class="text-center">
                <a href="tel:+38(095)082-99-89" class="custom-button"><span>Позвонить</span></a>
            </div>
        </div>
    </div>
</section>
<!-- ==========Call-In-Section Ends Here========== -->


<!-- ==========Teacher Section Starts Here========== -->
<section class="teacher-section padding-bottom padding-top bg_img"
    data-background="./assets/images/teacher/teacher-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <!-- <span class="cate">Meet Our Stuffy</span> -->
                    <h3 class="title"><a href='{% url "users_section:vacancy_list" %}'>Наши вакансии</a></h3>
                </div>
            </div>
        </div>
        <div class="row mb-30-none justify-content-center">
            {% for vacancy in vacancys %}
            <div class="col-lg-6">
                <div class="teacher-item">
                    <div class="teacher-inner">
                        <div class="teacher-thumb">
                            <div class="thumb-inner">
                                <a href="{% url 'users_section:vacancy_detail' vacancy.slug %}"><img src="{{ vacancy.icon.url }}"
                                        alt="teacher"></a>
                            </div>
                        </div>
                        <div class="teacher-content">
                            <h6 class="title"><a href="{% url 'users_section:vacancy_detail' vacancy.slug %}">{{ vacancy.name }}</a></h6>
                            <p>{{ vacancy.short_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ==========Teacher Section Ends Here========== -->
{% endblock main_content %}