{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">{% trans "Наши вакансии" %}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>{% trans "Главная" %}</a>
                </li>
                <li>
                    {% trans "Наши вакансии" %}
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Teacher Section Starts Here========== -->
<section itemscope  class="teacher-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'css/img/gallery1.png' %}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <!-- <span class="cate">Профессиональный и дружелюбный</span> -->
                    <h3 class="title">{% trans "Наши вакансии" %}</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            {% for vacancy in vacancys %}
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="{% url 'users_section:vacancy_detail' vacancy.slug %}">
                                    <img src="{{ vacancy.icon.url }}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="{% url 'users_section:vacancy_detail' vacancy.slug %}">
                                    {% if request.session.lang == 'ru' %}
                                    {{ vacancy.name }}
                                    {% else %}                            
                                    {{ vacancy.name_ukr }}
                                    {% endif %}
                                </a></h5>
                                {% if request.session.lang == 'ru' %}
                                <span>{{ vacancy.short_description }}</span>
                                {% else %}
                                <span>{{ vacancy.short_description_ukr }}</span>
                                {% endif %}
    
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ==========Teacher Section Ends Here========== -->


<!-- ==========Call-In-Section Starts Here========== -->
<section itemscope  class="call-in-action call-overlay bg_img padding-bottom padding-top"
    data-background="{% static 'images/bg/call-bg.jpg' %}">
    <div class="container">
        <div class="call-wrapper">
            <div class="section-header mb-olpo">
                <h3 class="title">{% trans "Стать преподавателем" %}</h3>
                <p>{% trans "Если вы хотите работать в команде профессионалов." %}</p>
            </div>
            <div class="text-center">
                <a href="tel:+38(095)082-99-89" class="custom-button"><span>{% trans "Позвонить" %}</span></a>
            </div>
        </div>
    </div>
</section>
<!-- ==========Call-In-Section Ends Here========== -->

{% endblock main_content %}