{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!-- ==========Banner Section Starts Here========== -->
<section itemscope  class="page-header bg_img" data-background="{% static 'images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">{{ object.name }}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href='{% url "lessons_section:index" %}'>Главная</a>
                </li>
                <li>
                    <a href='{% url "users_section:vacancy_list" %}'>Наши вакансии</a>
                </li>
                <li>
                    {{ object.name }}
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Teacher Single Section Starts Here========== -->
<section itemscope  class="speaker-single-section padding-top padding-bottom">
    <div class="container">
        <div class="teacher-wrapper">
            <div class="teacher-single-top">
                <div class="teacher-single-item d-flex flex-wrap justify-content-between">
                    <div class="teacher-single-thumb">
                        <img src="{{ object.icon.url }}" alt="teacher">
                    </div>
                    <div class="teacher-single-content">
                        <h4 class="title">{{ object.name }}</h4>
                        <h6 class="subtitle">О вакансии</h6>
                        <p class="header-p">{{ object.full_text|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="row teacher-single-bottom mb--50">
                <div class="col-lg-6 pb-20 d-flex flex-wrap justify-content-lg-start justify-content-between">
                    <!-- <h6 class="w-100 subtitle">Personal Skill</h6>
                    <div class="text-center skill-item">
                        <div class="skill-thumb">
                            <div class="circles text-center" id="circles">
                                <div class="circle first" data-percent="96">
                                    <strong>96<i>%</i></strong>
                                </div>
                            </div>
                        </div>
                        <p>English</p>
                    </div>
                    <div class="text-center skill-item">
                        <div class="skill-thumb">
                            <div class="circles text-center" id="circles">
                                <div class="circle second" data-percent="95">
                                    <strong>95<i>%</i></strong>
                                </div>
                            </div>
                        </div>
                        <p>Hindi</p>
                    </div>
                    <div class="text-center skill-item">
                        <div class="skill-thumb">
                            <div class="circles text-center" id="circles">
                                <div class="circle third" data-percent="80">
                                    <strong>80<i>%</i></strong>
                                </div>
                            </div>
                        </div>
                        <p>Bangla</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Teacher Single Section Ends Here========== -->
{% endblock main_content %}